*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary: #0156FF;
  --color5: #8C8C8C;
  --color6: #CCCCCC;
  --color7: #EBEBEB;
  --color8: #000000;
  --color9: #C94D3F;
  --color11: #666666;
  --header-top-bg: #020202;
  --page-top-padding: 21px;
}
img{
  display: block;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
button{
  font-family: inherit;
  border: none;
  cursor: pointer;
  background: none;
}
a{
  color: inherit;
  text-decoration: none;
  margin-top: 5px;
}
.list{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  gap: 12px;
}